/* colors */

:root {
    --pst-color-info: 23, 162, 184;
}

/* buttons */

.button>p>a {
    box-shadow: 0px 4px 14px -7px #999999;
    background-color: white;
    border: 1px solid #150458;
    display: inline-block;
    cursor: pointer;
    color: #150458;
    padding: 1em 1em;
    text-align: center;
    text-decoration: none;
    font-size: 140%;
    margin: 2%;
    width: 40%;
}

.button>p>a:hover {
    background-color: #150458;
    color: white;
}

.button>p>a:active {
    position: relative;
    top: 1px;
}

/* icons */
i.fa-github:before {
    color: black;
}