data:
  #Province of interest
  PR: '10'
  #Name of the .prj the result will be projected in (conic lambert)
  PRJ: 'NGDP1.prj'
  #path to work directory (folder will be created if it does not exist)
  D:\\Repos\\tst_output\\ 
  #Source path, directory containing NRN the shapefile (program will drill down to the num. of * to find dbf and shp.
  prov_data_directory: D:\\NRN_zips\\*\\*\\*

